# Imports

In [13]:
import pandas as pd
import math

# Calcul de l'entropie

In [14]:
df = pd.DataFrame((
    1 / 2,
    1 / 4,
    1 / 8,
    1 / 16,
    1 / 64,
    1 / 64,
    1 / 64,
    1 / 64
), columns=("p",))

df["e"] = df.p.apply(lambda x: x * math.log(1/x, 2))

df

          p        e
0  0.500000  0.50000
1  0.250000  0.50000
2  0.125000  0.37500
3  0.062500  0.25000
4  0.015625  0.09375
5  0.015625  0.09375
6  0.015625  0.09375
7  0.015625  0.09375

In [15]:
df.e.sum()

2.0