# Imports

In [1]:
import pandas as pd
import math

# Calcul de l'entropie

In [3]:
df = pd.DataFrame((
    0.87, 0.04, 0.04, 0.03, 0.02
), columns=("p",))

df["e"] = df.p.apply(lambda x: math.log(1/x, 2))

df

      p         e
0  0.87  0.200913
1  0.04  4.643856
2  0.04  4.643856
3  0.03  5.058894
4  0.02  5.643856

In [15]:
df.e.sum()

2.0